.main
  .main_head
    出品商品
  .productsBox
    .productsHead
      商品
    .productsLists
      .productsLists_list
        .productsLists_list--image
          = image_tag "71CTWXDG4eL._AC_SL1239_.jpg"
        .productsLists_list--body
          .name
            仁王2
          .price
            %ul
              %li<
                9800円
              %li<
                = icon('fas', 'heart')
                　0
            %p<(税込)
      .productsLists_list
        .productsLists_list--image
          = image_tag "81aaSQXqQfL._AC_UL640_QL65_ML3_.jpg"
        .productsLists_list--body
          .name
            DEATH STRANDING
          .price
            %ul
              %li<
                7800円
              %li<
                = icon('fas', 'heart')
                　0
            %p<(税込)
      .productsLists_list
        .productsLists_list--image
          = image_tag "81eACbPnkTL._AC_UL640_QL65_ML3_.jpg"
        .productsLists_list--body
          .name
            ペルソナ5 S
          .price
            %ul
              %li<
                6800円
              %li<
                = icon('fas', 'heart')
                　0
            %p<(税込)
    .productsLists
      .productsLists_list
    .productsLists
      .productsLists_list
