.wrapper
  = render partial: '/temple/header'
  = render "commentary1"
  = render "invitation1"
  = render "commentary2"
  = render "invitation2"
  = render "main"
  = render partial: '/temple/footer'
  = render partial: '/temple/exhibitionbtn'