.single-container
  
  .single-header
    = image_tag "logo.png", size: "185x49", alt: "test"

  .main
    .main__buy-content
      .main__buy-header
        購入内容の確認
      .main__buy-item
        .main__item-box
          = image_tag "a007.png", alt: "test", class:"main__item-image"
          .main__item-detail
            .buy__name
              product3
            .buy__price
              %span ¥3000円
              %span.item-sipping-fee (税込)　送料無料
      .main__btm
        .main__price
          .main__price-row
            .main__price-cell-lavel
              支払金額
            .main__price-cell
              ¥3000円
        .main__point
          =check_box_tag :check1  ,class:"main__check"
          %span  ポイントを使用 (所持ポイント: P0)
        .main__user-info
          .main__payment
            支払方法
          = link_to "#", class: "main__contents-top" do
            = icon('fas', 'plus-circle') 
            %span 登録してください
        .main__user
          .main__delivery
            .main__flex
              .main__left
                配送先
              = link_to "#", class: "main__contents-btm" do
                変更する
            .main__info
              %P〒290-0008
              %br 千葉県 市原市 古市場288番17 MNRII101
              %br 薮田 貴文
        .main__btn
          = link_to "#", class: "main__send" do
            購入する
  .footer
    .footer__nav
      = link_to "#", class: "footer__terms" do
        プライバシーポリシー
      = link_to "#", class: "footer__terms" do
        メルカリ利用規約
      = link_to "#", class: "footer__terms" do
        特定商取引に関する表記
    .footer__logo
      = link_to "#", class: "footer__image" do
        = image_tag "logo-white.png", size: "185x49", alt: "test"
    .footer__copyright
      ©︎ Mercari,Inc.