%body
  .sell-header
    %a
      = image_tag "logo.png", size: "185x49", alt: "logo"

  .main
    = form_for (@item), builder: CustomFormHelper, class: "select" do |f|
      = render 'layouts/error_messages', model: f.object
      .sell__block__form
        .sell__block__form__upload
          %h3.sell__block__form__upload__head
            出品画像
            %span.require 必須
          %p 最大5枚までアップロードできます
          .post__drop__box__container
            .prev-content
              //JSで挿入したhtmlと同じ形　each文でのプレビュー表示
              - @item.images.each do |image|
                -if image.persisted?
                  .preview-box
                    .upper-box
                      = image_tag image.image_url, width: "112", height: "112", alt: "preview"
                    .lower-box
                      .update-box
                        %label.edit-btn 編集
                      .delete-box
                        .delete-btn
                          %span 削除
            .label-content
              //プレビューの数に合わせてforオプションを指定
              = f.label :"images_attributes_#{@item.images.length}_image_url", class: "label-box", id: "label-box--#{@item.images.length}" do
                %pre.label-box__text-visible クリックしてファイルをアップロード
            .hidden-content
              = f.fields_for :images do |i|
                //プレビューが出ている分のfile_fieldとdelete用のチェックボックスを設置
                = i.file_field :image_url, class: "hidden-field"
                - if i.object.persisted?
                  = i.check_box:_destroy, class: "hidden-checkbox"
                  //5つのfile_fieldを準備するに当たって、足りない分を表示
                - @item.images.length.upto(4) do |i|
                  %input{name: "item[images_attributes][#{i}][image_url]", id: "item_images_attributes_#{i}_image_url", class:"hidden-field", type:"file"}
      %hr
      .block
        .formGroup
          .formLabel
            %label
              商品名
            %span.tag.must
              必須
          .input-area
            = f.text_field :name, {class: "input-area", placeholder: "40字まで", type: "text", maxlength: "40"}
        .formGroup
          .formLabel
            %label
              商品の説明
            %span.tag.must
              必須
          .text-area
            = f.text_area :description, {class: "text-area", placeholder: "商品の説明を入力してください", maxlength: "1000"}
        .item-info__footer
          %span 

      %hr
      .block
        %p.title
          商品の詳細
        .formGroup
          .style
            .formLabel
              %label
                カテゴリー
              %span.tag.must
                必須
            - if @item.category_id.blank?  
              .select#select
                = f.collection_select :category_id, Category.where(ancestry: nil),:id, :name,{prompt: "選択してyo"}, {class: 'select-default', id: 'parent-form'}
                = f.error_message_on(:category_id, Item.human_attribute_name('category_id'))
                %svg{width: "24", height: "24", viewBox: "0 0 24 24"}
                  %path{d: "M12,15.66a1.73,1.73,0,0,1-1.2-.49L5.21,9.54a.7.7,0,0,1,1-1l5.62,5.62c.15.15.27.15.41,0L17.8,8.6a.71.71,0,0,1,1,0,.69.69,0,0,1,0,1l-5.57,5.58A1.71,1.71,0,0,1,12,15.66Z"}
            - else
              .select#select
                = f.collection_select :category_id, Category.where(ancestry: nil), :id, :name, {selected:@item.category.parent().parent().id}, {class: 'select-default', id: 'parent-form'}
                %svg{width: "24", height: "24", viewBox: "0 0 24 24"}
                  %path{d: "M12,15.66a1.73,1.73,0,0,1-1.2-.49L5.21,9.54a.7.7,0,0,1,1-1l5.62,5.62c.15.15.27.15.41,0L17.8,8.6a.71.71,0,0,1,1,0,.69.69,0,0,1,0,1l-5.57,5.58A1.71,1.71,0,0,1,12,15.66Z"}
              .select#select
                = f.select :category_id, options_for_select(@category_children_array.map{|b| [b.name, b.id, {data:{category: b.id}}]}, {selected: @item.category.parent().id}),{}, {class: 'category-wrapper__category form-control', id: 'child_category'}
                %svg{width: "24", height: "24", viewBox: "0 0 24 24"}
                  %path{d: "M12,15.66a1.73,1.73,0,0,1-1.2-.49L5.21,9.54a.7.7,0,0,1,1-1l5.62,5.62c.15.15.27.15.41,0L17.8,8.6a.71.71,0,0,1,1,0,.69.69,0,0,1,0,1l-5.57,5.58A1.71,1.71,0,0,1,12,15.66Z"}
              .select#select 
                = f.select :category_id, options_for_select(@category_grandchildren_array.map{|b| [b.name, b.id, {data:{category: b.id}}]}, {selected: @item.category_id}),{}, {class: 'category-wrapper__category form-control', id: 'grandchild_category'}
                = f.error_message_on(:category_id, Item.human_attribute_name('category_id'))
                %svg{width: "24", height: "24", viewBox: "0 0 24 24"}
                  %path{d: "M12,15.66a1.73,1.73,0,0,1-1.2-.49L5.21,9.54a.7.7,0,0,1,1-1l5.62,5.62c.15.15.27.15.41,0L17.8,8.6a.71.71,0,0,1,1,0,.69.69,0,0,1,0,1l-5.57,5.58A1.71,1.71,0,0,1,12,15.66Z"}
        .formGroup
          .formLabel
            %label
              ブランド
            %span.tag.option
              任意
          .input-area
            %input.input-area{name: "brand",placeholder: "例）シャネル", type: "text"}  
        .formGroup
          .formLabel
            %label
              商品の状態
            %span.tag.must
              必須
          .select
            = f.collection_select :condition_id, Conditionls.all, :id, :name, prompt: "選択して下さい"
            %svg{width: "24", height: "24", viewBox: "0 0 24 24"}
              %path{d: "M12,15.66a1.73,1.73,0,0,1-1.2-.49L5.21,9.54a.7.7,0,0,1,1-1l5.62,5.62c.15.15.27.15.41,0L17.8,8.6a.71.71,0,0,1,1,0,.69.69,0,0,1,0,1l-5.57,5.58A1.71,1.71,0,0,1,12,15.66Z"}
      %hr
      .block
        %p.title
          配送について
        .formGroup
          .formLabel
            %label
              配送料の負担
            %span.tag.must
              必須
          .select
            = f.collection_select :shippingpayer_id, Shippingpayer.all, :id, :name, prompt: "選択して下さい"
            %svg{width: "24", height: "24", viewBox: "0 0 24 24"}
              %path{d: "M12,15.66a1.73,1.73,0,0,1-1.2-.49L5.21,9.54a.7.7,0,0,1,1-1l5.62,5.62c.15.15.27.15.41,0L17.8,8.6a.71.71,0,0,1,1,0,.69.69,0,0,1,0,1l-5.57,5.58A1.71,1.71,0,0,1,12,15.66Z"}
        .formGroup
          .formLabel
            %label
              配送元の地域
            %span.tag.must
              必須
          .select
            = f.collection_select :postage_id, Prefecture.all, :id, :name, prompt: "選択して下さい"
            %svg{width: "24", height: "24", viewBox: "0 0 24 24"}
              %path{d: "M12,15.66a1.73,1.73,0,0,1-1.2-.49L5.21,9.54a.7.7,0,0,1,1-1l5.62,5.62c.15.15.27.15.41,0L17.8,8.6a.71.71,0,0,1,1,0,.69.69,0,0,1,0,1l-5.57,5.58A1.71,1.71,0,0,1,12,15.66Z"}
        .formGroup
          .formLabel
            %label
              配送までの日数
            %span.tag.must
              必須
          .select
            = f.collection_select :shipping_day_id, ShippingDay.all, :id, :name, prompt: "選択して下さい"
            %svg{width: "24", height: "24", viewBox: "0 0 24 24"}
              %path{d: "M12,15.66a1.73,1.73,0,0,1-1.2-.49L5.21,9.54a.7.7,0,0,1,1-1l5.62,5.62c.15.15.27.15.41,0L17.8,8.6a.71.71,0,0,1,1,0,.69.69,0,0,1,0,1l-5.57,5.58A1.71,1.71,0,0,1,12,15.66Z"}
      %hr
      .block
        %p.title
          価格（¥300~9,999,999)
        .formGroup
          .price
            .result-price
              .formLabel.price-label
                %label
                  販売価格
                %span.tag.must.tag-price
                  必須
              %p.yen
                ¥
              .input-price
                = f.text_field :price
                
            .result-price
              販売手数料 (10%)
            %hr
            .result-price
              販売利益
          .pushbutton
            %button{type: "submit", class: 'submit button'}
              更新する
            %a.return.button{href: "#"}
              もどる
          %p.caution
            禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。